[Unit]
Description=Celery Worker
After=network.target

[Service]
Type=simple
User=virbox
WorkingDirectory=/home/virbox/vpnweb/vpnweb
ExecStart=/home/virbox/venv/bin/celery -A vpnweb worker

[Install]
WantedBy=multi-user.target
