{% extends 'base.html' %}
{% block content %}
<h2>{{ user.username }}</h2>
<p>Status: {% if user.status == 0 %}inactive{% elif user.status == 1 %}activating...{% elif user.status == 2 %}active{% endif %}.</p>
{% if user.status == 2 %}
<p><a href="{% url 'download-conf' user.username %}">Download VPN profiles</a> (a ZIP archive containing .ovpn files for use with OpenVPN client)</p>
{% endif %}
<p>Balance: {{ user.balance }} day{{ user.balance|pluralize:'s' }}.</p>
{% if user.invoice_set.exists %}
<p><b>Your invoices</b> <i><small>(autodeleted after 48h)</small></i></p>
<ul>
{% for inv in user.invoice_set.all %}
<li><p>{{ inv.is_paid|yesno:"PAID,UNPAID" }} Invoice <a href="{% url 'invoice-get' inv.payment_id.hex %}">{{ inv.payment_id.hex }}</a> - ${{ inv.plan.price_usd }} for {{ inv.plan.days }}</p></li>
{% endfor %}
</ul>
{% endif %}
<form method="POST" action="{% url 'invoice-create' %}">
{% csrf_token %}

<label>Select plan:
<select name="plan" class="btn">

{% for plan in plans %}
<option value="{{ plan.uuid }}">
{% if plan.price_usd > 0 %}
${{ plan.price_usd }} one-time
{% else %}
FREE
{% endif %} - {{ plan.days }}
</option>
{% endfor %}

</select>
</label>
<button type="submit" class="btn">Create new invoice</button>
</form>
{% endblock %}
